body {
  background-color: #E9D8A6;
  font-family: 'Amatic SC', cursive;

}

.header {
  display: flex;
  flex-direction: column;
}

.heading {
  align-self: center;
  font-size: 8vw;
  border: 2.7px solid;
  border-radius: 5px;
  padding: .5vw 25vw;
  background: linear-gradient(#EE9B00, #EE9B00, #AE2012 ,#9B2226);
  box-shadow: 10px 15px 15px black;

}

.nav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-size: 6vw;
  margin: 1vw 8vw;
}


.noDecoration, a:link, a:visited {
  text-decoration: none;
  color: black;
}

.noDecoration:hover {
  font-style: italic;
}