body {
  background-color: #E9D8A6;
  font-family: 'Amatic SC', cursive;
}

.header {
  display: flex;
  flex-direction: column;
}

.heading {
  align-self: center;
  font-size: 8vw;
  border: 2.7px solid;
  border-radius: 5px;
  padding: .5vw 25vw;
  background: linear-gradient(#EE9B00, #EE9B00, #AE2012 ,#9B2226);
  box-shadow: 10px 15px 15px black;

}

.nav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-size: 6vw;
  margin: 1vw 8vw;
}


.nav-item {
  text-decoration: none;
  color: black;
}

.nav-item-active {
  color: black;
  text-decoration: none;
  background-color: #0A9396;
  border: 2px solid;
  border-radius: 5px;
  padding: .5rem;
}

.container-contact {
  background-color: #94D2BD;
  margin: auto;
  margin-top: 8vh;
  display: flex;
  justify-content: center;
  border: 2.7px solid;
  border-radius: 4px;
  width: 90%;

}

.container-about {
  background-color: #EE9B00;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2.7px solid;
  border-radius: 4px;
  width: 90%;
  margin: auto;
  margin-top: 8vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-form {
  margin-top: 0;
  font-family: 'Amatic SC', cursive;
  border: .15vw solid black;
  border-radius: 4px;
  font-size: 4.5vw;
  outline: none;
}

.input-label {
  font-size: 5vw;
}

.btn {
  font-family: 'Amatic SC', cursive;
  margin: 4vh;
  font-size: 4vh;
  border: 0.3vh solid black;
  border-radius: 4px;
  background-color: #EE9B00;
}

.btn:hover, .resume-link:hover  {
  cursor: pointer;
  border: .4vh solid black;
  font-size: 5.5vh;
}

.error-text {
  font-size: 4.4vw;
  font-weight: bolder;
  color: #AE2012;
  border-bottom: .3vh solid #AE2012;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.portrait {
  border: solid 2px black;
  border-radius: 4px;
  display: flex;
  height: 50%;
  width: 50%;
}

.about-header, 
.portfolio-header, 
.resume-header,
.contact-header {
  display: flex;
  justify-content: center;
  font-size: 5vw;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: .4vh;
  text-underline-offset: 1.3vh;

}

.about-text {
font-size: 4.5vw;
padding: 2vw;
}

.footer-container {
  text-align: center;
}

.footer {
  font-size: 4vw;
  margin-top: 15vw;
}

.logo {
  flex-direction: row;
  width: 5%;
  border-radius: 4px;
  margin-left: .5vh;
  margin-right: .5vh;
}

.portfolio-container {
  background-color: #BB3E03;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2.7px solid;
  border-radius: 4px;
  width: 90%;
  margin: auto;
  margin-top: 8vh;

}

.work-image {
  width: 50%;
  margin: 5vh;
  margin-top: 2vh;
  border: .3vh black solid;
  border-radius: 1%;
  padding: 0px;
  position: relative;

}

.work-image:hover {
  width: 60%;
  transition-duration: 0.5s;
}

.portfolio-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-name {
  font-size: 5vw;
}

.ahref {
  display: flex;
  justify-content: center;
}

.gitlink {
  font-size: 4vw;
  color: black;
  margin-bottom: 4vw;
  text-decoration-thickness: 0.2vw;

}

.resume-container {
  background-color: #005F73;
  display: flex;
  color: #EE9B00;
  flex-direction: column;
  align-items: center;
  border: 2.7px black solid;
  border-radius: 4px;
  width: 90%;
  margin: auto;
  margin-top: 8vh;

}

.underline {
  text-decoration-thickness: .4vh;
  text-underline-offset: 1.3vh;
}

.front-end-list {
  font-size: 4.5vw;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume-list {
  display: flex;
}

.resume-link {
  font-size: 2vw;
  text-decoration: none;
  color: black;
  background-color: #EE9B00;
  border: 2.7px black solid;
  border-radius: 4px;
  margin-bottom: 4vh;
  padding: .2vw;
  

}



